* {
  margin: 0;
  padding: 0;
}
  $color: (
    black: #000,
    white: #fff,
    origin: #ffc16b,
    green_skin: #49c9f0,
    green: #67c97a,
    blue_skin: #344c8a,
    red: #f00,
    tiw: #469ae9,
    gren_email: #0ec0ee,
    came: #fa4700
    );

@font-face {
  font-family: MyriadPro;
  src: url('../font/MyriadPro-Regular.woff');
}
.container {
  width: 1240px;
  margin: 0 auto;
  .tour {
    padding: 40px 10px 30px;
    text-transform: uppercase;
    font-size: 30px;
  }
}
.clear {
  clear: both;
}
.logo {
  float: left;
  width:155px;
  img {
    margin-left: 2px;
    margin: 16px 16px;
  }
}
.server-right {
  float: right;
  margin-top: 10px;
  width: 950px;
  span {
    color: map-get($color, origin);
    font-weight: bold;
  }
}
.contact1-right {
  padding-left: 410px;
  img {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }
  p {
    font-family: Arial;
    font-size: 12px;
    padding: 6px 16px 0px;
  }
}
.contact2-right {
  float: right;
  width: 326px;
  margin-top: -40px;
  img {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }
  p {
    font-family: Arial;
    font-size: 12px;
    padding: 6px 16px 0px;
  }
}
.slide {
  width: 100%;
  height: auto;
}
/*nav*/
.menu-list {
 padding: 0;
 margin: 0;
}
.menu_item {
  padding: 25px 14px 6px;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  a {
    text-transform: uppercase;
    color: map-get($color, black);
    font-size: 14px;
    text-decoration: none;
    font-family: "Myriad Pro";
    &:hover {
    border-bottom: 3px solid #ffa800;
    padding-bottom: 23px;
  }
}

}
/*##############CSS BODY SECTION ##############*/
/*gallary*/
.background-1 {
  background: url('../images/tour_1.png');
  background-repeat: no-repeat;
  width: 292px;
  height: 123px;
  float: left;
  padding: 0 54px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 31px;
}
.background-2 {
  background: url('../images/tour_2.png');
  background-repeat: no-repeat;
  width: 292px;
  height: 123px;
  float: left;
  padding: 0 54px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 31px;
}
.background-3 {
  background: url('../images/tour_3.png');
  background-repeat: no-repeat;
  width: 292px;
  height: 123px;
  float: left;
  padding: 0 54px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 31px;
}
.transbox {
  background-color: rgba(59,49,45, 0.5);
  height: 123px;
  width: 400px;
  height: 123px;
  margin-left: -54px;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  h3 {
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: MyriadPro;
  }
}
.transbox:hover {
  background-color: rgba(65,196,231, 0.5);
}
/*gallery one*/
.gallery {
  width: 100%;
  padding: 12px 0;
}
.gallery_item {
  margin: 0 9px;
  float: left;
  width: 292px;
  height: 281px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 1px 4px 0px rgba(227, 227, 227, 1);
  h4 {
    font-size: 15px;
    padding: 16px 17px 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial;
  }
  p {
    font-size: 14px;
    padding: 0 17px;
    font-family: Arial;
  }
  a {
    color: map-get($color, green_skin);
    text-decoration: none;
  }
  img {
    width: 100%;
    height: auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    &:hover {
       width:292px;
       height: 210px;
       transform:scale(50%);
    }
 }
}
/*##############CSS FOOTER##############*/
.footer-border {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 22px;
}
.colum {
  width: 24.9999%;
  float: left;
  margin:0;
  text-align: left;
  h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial;
  }
  p {
    padding: 41px 0px;
    text-align: right;
    font-size: 14px;
  }
  a {
    color: map-get($color, green);
    text-decoration: none;
  }
}
.infor {
  list-style: none;
  li a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    line-height: 2.2;
    font-family: Arial;
    text-transform: capitalize;
    &:hover {
      color:map-get($color, green_skin);
    }
  }
}

// @mixin social($background-color, $color){
//   background-color: $background-color;
//   color: $color;
// }
.social {
  list-style: none;
  li a {
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    text-transform: capitalize;
    &:hover {
      color:map-get($color, green_skin);
    }
  }
  [class*="fa fa-facebook"] {
    // @include social($color: #344c8a, $background-color: #fff);
    background-color: map-get($color, white);
    border-radius: 30px;
    color: map-get($color, blue_skin);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #344c8a;
    margin-bottom: 11px;
  }
  [class*="fa fa-google"] {
    background-color: map-get($color, white);
    border-radius: 30px;
    color: map-get($color, red);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #d8322e;
    margin-bottom: 11px;
  }
  [class*="fa fa-twitter"] {
    background-color: map-get($color, white);
    border-radius: 30px;
    color: map-get($color,tiw);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    border:1px solid #469ae9;
    margin-bottom: 11px;
  }
  [class*="fa fa-youtube"] {
    background-color: map-get($color, white);
    border-radius: 30px;
    color: map-get($color, red);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    border:1px solid #f20f2c;
}
}
.text-email {
  padding: 40px 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.text-hadatur {
  padding: 50px 0px !important;
  text-align: left !important;
  font-size: 14px;
  font-family: Arial;
}
.input {
  display:flex;
  align-items: center;
}
.button {
  height: 44px;
  border: none;
}
.email {
  width: 75%;
  font-size: 15px;
  font-family: inherit;
  letter-spacing: 1px;
  text-indent: 5%;
  border:1px solid #e5e5e5;
}
.submit {
  width: 25%;
  height: 46px;
  background: map-get($color,gren_email);
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  background-image: url('../images/icon_email.png');
  background-repeat: no-repeat;
  background-position: right 26px bottom 13px;
}
